.hor-margin {
	margin-left: 10px;
	margin-right: 10px;
}

.vert-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}

 .input-mini { 
	 width: 60px; 
} 

 .input-small { 
	 width: 90px; 
} 

 .input-medium { 
	 width: 150px; 
} 

 .input-large { 
	 width: 210px; 
} 

 .input-xlarge { 
	 width: 270px; 
} 

 .input-xxlarge { 
	 width: 530px; 
} 