<form class="form-horizontal" role="form" ng-submit="addBookToLibrary()">
    <button type="submit" class="btn btn-success text-center">
		<span class="glyphicon glyphicon-plus"></span>
		Добавить выбранную книгу
	</button>
<table class="table table-striped table-hover force-width-80"  align="center" width="80%" >
	<thead>
		<tr>
			<th></th>
			<th>Id</th>
			<th>Название</th>
			<th>Автор</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
        <tr ng-repeat="book in books"  id="bind-html-with-sanitize">
			<td>
				<input type="radio" ng-model="bookValue" value="book.Id" 
				ng-change="setSelected(book.Id)" ">
			</td>
            <td>{{book.Id}}</td>
			<td>{{book.Name}}</td>
			<td>{{book.Author}}</td>
            <td>
                <button type="button" ui-sref="editBook({id:book.Id})" class="btn btn-warning hor-margin">
					<span class="glyphicon glyphicon-pencil"></span>
					Редактировать параметры книги
				</button>
                <button type="button" ui-sref="deleteBook({id:book.Id})" class="btn btn-danger hor-margin">
					<span class=" glyphicon glyphicon-remove"></span>
					Удалить книгу
				</button>
            </td>
        </tr>
		<tr>
			<td colspan=3 class=' text-center'>
				<button type="button" ui-sref="newBook" class="btn btn-success text-center">
					<span class="glyphicon glyphicon-plus"></span>
					Добавить книгу
				</button>
			</td>
		</tr>
	</tbody>
</table>
</form>
