<h3 class='text-center'>Мои библиотеки</h3>
<div class="row vert-margin"  ng-controller="SelectLibraryController">
	<div class="col-md-4"></div>
	<div class="col-md-4 text-center">
<select class="selectpicker hor-margin input-large" 
	ng-model="library.id" ng-options="library.Name for library in libraries"
	ng-change="viewLibrary(library, '{{library.id}}')">
	<option value="">--Выберите библиотеку--</option>
	</select>
	<button type="button" ui-sref="newLibrary" class="btn btn-success hor-margin">
					<span class="glyphicon glyphicon-plus"></span>
					Добавить библиотеку
				</button>
	</div>
	<div class="col-md-4"></div>
</div>
<table class="table table-striped table-hover"  align="center" >
	<thead>
		<tr>
			<th>Id</th>
			<th>Название</th>
			<th>Автор</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
        <tr ng-repeat="book in books"  id="bind-html-with-sanitize">
            <td>{{book.Id}}</td>
			<td>{{book.Name}}</td>
			<td>{{book.Author}}</td>
            <td>
                <button type="button" ui-sref="editBook({id:book.Id})" class="btn btn-warning hor-margin">
					<span class="glyphicon glyphicon-pencil"></span>
					
				</button>
            </td>
            <td>
                 <button type="button" ui-sref="deleteBook({id:book.Id})" class="btn btn-danger hor-margin">
					<span class=" glyphicon glyphicon-remove"></span>
					
				</button>
            </td>
        </tr>
		<tr>
			<td colspan=5 class=' text-center'>
				<button type="button" ui-sref="books({libId: 1})" class="btn btn-success text-center">
					<span class="glyphicon glyphicon-plus"></span>
					Добавить книгу в библиотеку
				</button>
			</td>
		</tr>
	</tbody>
</table>